.custom_heroic_class {
  animation: heroic_animated 2s ease-in-out forwards;
}
.heroic_scroll_animated {
  animation: heroic_animated 2s ease-in-out forwards;
}

@keyframes heroic_animated {
  from {
    transform: translateY(100px) skewX(15deg) skewY(15deg);
    filter: blur(10px);
  }
  to {
    transform: translateY(0px) skewX(0deg) skewY(0deg);
    filter: blur(0px);
  }
}

.feature_scroll_animated {
  animation: feature_animated 2s ease-in-out forwards;
}

@keyframes feature_animated {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.pricing_scroll_animated {
  opacity: 0;
  animation: pricing_animated 2s ease-in-out forwards;
}

@keyframes pricing_animated {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.contact_scroll_animated {
  opacity: 0;
  animation: contact_animated 2s ease-in-out forwards;
}

@keyframes contact_animated {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
